  body {
    background-color: #dddddd;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
  }

  div.dialog {
    width: 70%;
    margin: 4em auto 0 auto;
    border: 1px solid #CCCCCC;
    border-top: #978BB1 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: white;
    padding: 7px 4em 0 4em;
  }

  h1 {
    font-size: 3em;
    text-align: left;
    color: #978BB1;
    line-height: 1.5em;
  }

  body > p {
    width: 70%;
    margin: 0 auto 1em;
    padding: 1em 0;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #ffffff;
    color: #545454;
    box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);
  }